@font-face {
    font-family: "canela_deck";
    src: url("./caneladeck-thin-webfont.woff2") format("woff2"),
        url("./caneladeck-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "canela_deck";
    src: url("./caneladeck-regular-trial-webfont.woff2") format("woff2"),
        url("./caneladeck-regular-trial-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "canela_deck";
    src: url("./caneladeck-regularitalic-webfont.woff2") format("woff2"),
        url("./caneladeck-regularitalic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "canela_deck";
    src: url("./caneladeck-bold-webfont.woff2") format("woff2"),
        url("./caneladeck-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "canela_deck";
    src: url("./caneladeck-bolditalic-webfont.woff2") format("woff2"),
        url("./caneladeck-bolditalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Legacy font family names for backwards compatibility */
@font-face {
    font-family: "canela_deck_trialbold";
    src: url("./caneladeck-bold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "canela_deck_trialbold_italic";
    src: url("./caneladeck-bolditalic-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "canela_deck_trialthin";
    src: url("./caneladeck-thin-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "canela_deck_regular";
    src: url("./caneladeck-regular-trial-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "canela_deck_italic";
    src: url("./caneladeck-regularitalic-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}
